{% extends 'blocksTmpl/LoginTmpl.html' %}

{% block loginPage %}
    <p class="login-box-msg">Sign in to start your session</p>

    <form action="{% url 'django.contrib.auth.views.login' %}" method="post">
    {% csrf_token %}
          <div class="form-group has-feedback">
{#                <input type="email" class="form-control" placeholder="Email">#}
                {{ form.username }}
{#                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>#}
          </div>
          <div class="form-group has-feedback">
{#                <input type="password" class="form-control" placeholder="Password">#}
               {{ form.password }}
{#                <span class="glyphicon glyphicon-lock form-control-feedback"></span>#}

          </div>
          <div class="row">
                <div class="col-xs-8">
                      <div class="checkbox icheck">
                            <label>
                              <input type="checkbox"> Remember Me
                            </label>
                      </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>
                <!-- /.col -->
          </div>
    </form>

{% endblock %}