{% extends 'blocksTmpl/BaseTmpl.html' %}
{% load staticfiles %}

{% block bodyContent %}

    <div class="row">
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Partner Invitations for Exchange of Students,
                        Teachers and Staff (HORIZON, ERASMUS+, other)</h3>
                </div>
                <form role="FORM" method="post" action="{% url 'fundedForm' %}">
                {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label>Institution</label>
                            <select class="form-control select2" style="width: 100%" name="inst" required>
                                <option value="">Select Institution</option>
                                {% for insti in institutions %}
                                    <option value="{{ insti.id }}">{{ insti }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                              <label for="exampleInputEmail1">PIC Number</label>
                              <input type="text" class="form-control" placeholder="Enter PIC Number" name="picNum">
                        </div>
                        <div class="form-group">
                              <label for="exampleInputPassword1">Programme interested in</label>
                                <select class="form-control select2" style="width: 100%" name="prog" required>
                                    <option value="">Select Programme</option>
                                    {% for pro in programs %}
                                        <option value="{{ pro.id }}">{{ pro.programmeName }}</option>
                                    {% endfor %}
                                </select>
{#                              <input type="text" class="form-control" placeholder="Enter Programme interested in">#}
                        </div>
                        <div class="form-group">
                              <label for="exampleInputPassword1">Shrort Summary of the Request</label>
                              <textarea type="text" class="form-control" id="inst_contact" name="desc" placeholder="{{ description }}" required></textarea>
                        </div>
                  </div>
                  <!-- /.box-body -->

                  <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}