{% extends 'blocksTmpl/BaseTmpl.html' %}
{% load staticfiles %}

{% block bodyContent %}

    <div class="row">
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Partner Invitations for Exchange of Students,
                        Teachers and Staff (ERASMUS+ KA1)</h3>
                </div>
                <form role="FORM" method="post" action="{% url 'exchangeForm' %}">
                {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label>Countries</label>
                            <select class="form-control select2" style="width: 100%" name="inst" required>
                                <option value="">...</option>
                                {% for insti in institutions %}
                                    <option value="{{ insti.id }}">{{ insti }}</option>
                                {% endfor %}
                            </select>
                        </div>
                  </div>
                  <!-- /.box-body -->

                  <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}